@font-face {
  font-family: "NotoSansSC-Black";
  src: url("../fonts/NotoSansSC-Black.woff2") format("woff2"),
       url("../fonts/NotoSansSC-Black.woff") format("woff"),
       url("../fonts/NotoSansSC-Black.ttf") format("truetype");
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src:url("../fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay-ExtraBold";
  src:url("../fonts/RedHatDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800; 
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  margin: 0 auto;
}

.familyFontExtraBold {
  font-family: "RedHatDisplay-ExtraBold";
  display: flex;
}

ul,
li {
  list-style: none;
}

body {
  font-size: 16px;
  background-color: #ff4c00;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-intro {
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
  z-index: 999;
}

.product-intro-topbg {
  background: #ff4c00;
  height: 60px;
}

.product-intro-title {
  padding: 16px 20px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4c00;
  padding: 10px;
  margin:-10px 0 ;
}

.product-intro-title-left {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}

.product-intro-title-left h3 {
  color: #fff;
  font-weight: normal;
  font-weight: 500;
}

.product-intro-title-left h3 span {
  display: inline-block;
  width: 45px;
  height: 28px;
  font-weight: bold;
  background: #000;
  border-radius: 40px 40px 40px 0;
  text-align: center;
  line-height: 28px;
  margin-right: 10px;
}

.product-intro-title-left p {
  font-size: 12px;
  color: #fff;
}
.product-intro-t-p{
  font-weight: bold;
}
.product-intro-t-p span{
  display: inline-block;
  width: 18px;
  height: 10px;
  background-color: #fff;
  border-radius: 5px 5px 5px 0px;
}
.product-intro-title-icon {
  position: relative;
  width: 39px;
  height: 39px;
  background: #fff;
  border-radius: 50%;
}
.product-intro-title-icon span {
  display: absolute;
  margin: 7px;
  height: 3px;
  width: 3px;
  background-color: #000;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu img {
  width: 45px;
  height: 45px;
}
.menu h3 {
  color: #ff4c00;
  text-align: center;
}
.menu h3 span {
  display: inline-block;
  width: 45px;
  height: 28px;
  font-weight: bold;
  background: #000;
  border-radius: 40px 40px 40px 0;
  text-align: center;
  line-height: 28px;
  margin-right: 20px;
  color: #fff;
}
.menu ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
}
.menu ul li {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #ff4c00;
}
.menu ul li a{
  color: #ff4c00;
}
body,
html {
  overflow-x: hidden;
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}
.slider-content {
  display: flex;
  flex-wrap: nowrap;
  width: max-content; /* 动态内容宽度 */
  animation: none; /* 取消 CSS 动画 */
}
.slider-content img {
  width: 191px;
  height: 340px;
  margin-right: 10px;
  margin-top: 50px;
  border-radius: 25px 25px 25px 0px;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-180px);
  }
}
.journey .mb {
  width: 353px;
  height: 105px;
  padding:20px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 25px;
  margin-top: 15px;
  display: none;
}
.journey .mb .list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.journey .mb .list span {
  width: 85px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4c00;
  border-radius: 8px;
  color: #fff;
}
.journey .mb .list span a{
  color: #f5f5f5;
  font-size: 12px;
}
.journey .mb p {
  text-align: center;
  color: #ff4c00;
  font-size: 10px;
  font-weight: 600;
  margin-top: 15px;
}
.bf {
  text-align: center;
}
.mb2 {
  /* width: 390px; */
  height: 0px;
  overflow: hidden;
  width: 100%;
  /* position: absolute;
  z-index: 999;
  margin-left: -20px; */
}
.mb2 h2 {
  height: 55px;
  background: #f5f5f5;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.mb2 div {
  height: 570px;
  background: #ff4c00;
  text-align: center;
  padding-top: 20px;
  border-radius: 0px 0px 40px 40px;
}
.mb2 div p {
  width: 298px;
  text-align: left;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  font-weight: 700;
}
.mb2 div input,
.mb2 div select {
  width: 298px;
  height: 36px;
  border-radius: 10px;
  border: none;
}
/*ハンバーガーメーニュー開けた時*/
.product-intro-title-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.product-intro-title-icon.active span:nth-child(2) {
  opacity: 0;
}
.product-intro-title-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.product-intro-title-icon img {
  transform: scale(0.5);
}

.menu {
  visibility: hidden; /* 默认隐藏 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* transform: translate(-50%, -50%); */
  width: 380px;
  height: 560px;
  background-color: #fff;
  /*border-radius: 10px;*/
  padding: 20px;
  z-index: 100;
}

.menu.show {
  visibility: visible; /* 显示菜单 */
  position: absolute;
  top:330px;
  width: 100%;
  border-radius: 20px;
}
.menu-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-tq{
  font-family: "RedHatDisplay-ExtraBold";
    width: 45px;
    height: 28px;
    font-weight: bold;
    background: #000;
    border-radius: 40px 40px 40px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-tqtt{
  font-family: "RedHatDisplay-ExtraBold";
  color: #ff4c00;
  font-size: 18px;
}
.close-button{
  width: 18.9px !important;
  height: 18.9px !important;
  cursor: pointer;
}
/* 头部轮播 */
.swiper-slide {
  width: 50%;
  height: 340px !important;
  background: #ccc;
  border-radius: 25px 25px 25px 0;
  overflow: hidden;
  margin-right: 5px !important;
}

.journey-title {
  margin-top: 20px;
  font-size: 50px;
  color: #fff;
  padding: 0 20px;
}

.journey-character-title {
  display: flex;
}

.journey-character-left {
  width: 156px;
  min-height: 50px;
  position: relative;
}

.journey-character-left img:first-child {
  width: 35px;
  height: 77px;
  position: absolute;
  left: 20px;
  top: 0;
}

.journey-character-left img:nth-child(2) {
  width: 47px;
  height: 67px;
  position: absolute;
  left: 35px;
  top: 10px;
}

.journey-character-left img:nth-child(3) {
  width: 28px;
  height: 71px;
  position: absolute;
  left: 88px;
  top: 4px;
}

.product-intro-title-left2 {
  position: relative;
}

.product-intro-title-left2 h3 {
  font-size: 32px;
}

.product-intro-title-left2 h3 span {
  font-family: "RedHatDisplay-ExtraBold";
  width: auto !important;
  height: auto !important;
  padding: 3px 11px;
  font-size: 20px;
  vertical-align: middle;
  margin: 0 10px;
}

.product-intro-title-img {
  width: 36px;
  height: 70px;
  position: absolute;
  bottom: -54px;
  right: 0;
}

.start-Japanese-box {
  margin-top: 62px;
  padding: 0 31px;
}

.start-Japanese {
  width: 100%;
  min-height: 50px;
  border-radius: 40px 40px 40px 0;
  border: 2px solid #fff;
  background: #000;
  padding: 12px 16px;
  display: flex;
}

.start-Japanese-left {
  width: 66px;
  position: relative;
}

.start-Japanese-left-zh {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ff6439;
  text-align: center;
  line-height: 32px;
  position: absolute;
  left: 0px;
  bottom: 6px;
  z-index: 2;
  font-weight: 500;
  color: #000;
}

.start-Japanese-left-jp {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 32px;
  position: absolute;
  left: 20px;
  top: 0;
  font-weight: 500;
  color: #000;
}

.start-Japanese-middle {
  width: calc(100% - 80px);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}
.start-Japanese-middle a{
  color: #fff;
}

.start-Japanese-middle h3 {
  font-size: 20px;
}

.start-Japanese-middle p {
  font-size: 10px;
  margin-top: 4px;
}

.start-Japanese-middle p .span-color {
  color: #ff6439;
}

.start-Japanese-middle p .span-line {
  color: #959595;
  margin: 0 5px;
}

.span-next {
  width: 6px;
  height: 12px;
}

.self-achievement {
  margin-top: 100px;
}

.self-achievement h5 {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-family: "RedHatDisplay-ExtraBold"
}
.tqt{
  font-family: "RedHatDisplay-ExtraBold" !important;
}
.self-achievement h1 {
  font-family: "RedHatDisplay-ExtraBold";
  font-size: 62px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-top: 30px;
  position: relative;
  margin-bottom: 40px;
}

.self-achievement h1::before,
.self-achievement h1::after {
  content: "探索世界";
  display: block;
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.self-achievement h1::after {
  content: "成就自己";
  top: 30px;
}

.self-achievement p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.rolling-doll {
  margin-top: 40px;
  margin-bottom: 78px;
  display: flex;
  overflow-x: auto;
  align-items: flex-end;
}

.rolling-doll::-webkit-scrollbar {
  display: none;
}

.four-reasons-topbg {
  min-height: 74px;
  background: url("../images/shang.jpg") no-repeat;
  background-size: 100% 100%;
}

.four-reasons-bottombg {
  min-height: 74px;
  background: url("../images/shita.png") no-repeat;
  background-size: 100% 100%;
}

.four-reasons-middle {
  padding: 40px 20px 0;
  background: #faf2e7;
  margin-top: -1px;
  margin-bottom: -1px;
}

.four-reasons-middle p {
  font-size: 12px;
  margin-bottom: 15px;
  color: #ff4c00;
  font-weight: bold;
}

.four-reasons-middle h3 {
  color: #333;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.four-reasons-middle h1 {
  font-size: 46px;
  margin-bottom: 46px;
}

.four-reasons-middle h1 span {
  color: #ff4c00;
}

.four-reasons-dialogue {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.four-reasons-dialogue2 {
  justify-content: flex-end;
}

.four-reasons-dialogue-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/3.png") no-repeat center center;
  background-size: 100%;
  background-position: 0px 10px;
}

.four-reasons-dialogue-left2 {
  background: url("../images/8.png") no-repeat center center;
  background-size: 100%;
  background-position: 0px 10px;
}

.four-reasons-dialogue-left3 {
  background: url("../images/6.png") no-repeat center center;
    transform: scaleX(-1);
  background-size: 100%;
  background-position: 0px 10px;
}

.four-reasons-dialogue-left4 {
  background: url("../images/1.png") no-repeat center center;
  background-size: 100%;
  background-position: 0px 10px;
}

.four-reasons-dialogue-content {
  min-height: 42px;
  background: #fff;
  border-radius: 40px 40px 40px 0;
  padding: 12px 15px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 16px !important;
  color: #ff4c00;
  margin-bottom: 0 !important;
  letter-spacing: 2px;
}

.four-reasons-dialogue-content2 {
  background: #ff4c00;
  color: #fff !important;
  border-radius: 40px 40px 0 40px;
}

.guied {
  padding: 100px 20px 20px 20px;
  color: #fff;
}

.guied p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.guied h1 {
  font-size: 44px;
  font-family: "RedHatDisplay-ExtraBold";
}

.guied h1:last-child {
  margin-bottom: 40px;
}

.swiper-slide2 {
  width: 60% !important;
  height: auto !important;
  border-radius: 25px;
  padding: 20px;
  background: #fff;
}

.swiper-slide2 h4 {
  text-align: center;
  color: #ff4c00;
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: bold;
}

.swiper-slide-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}

.swiper-slide2 h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.swiper-slide2 p {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.swiper-container2 {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.swiper-container2::before {
  content: "";
  display: block;
  width: 313px;
  height: 235px;
  position: absolute;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 40px 0 0 40px;
}

.tip {
  padding: 0 20px;
}

.tip-content {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px;
  color: #fff;
  display: flex;
  gap: 16px;
  align-items: center;
}

.tip-content h4 {
  width: 135px;
  font-size: 13px;
  font-weight: normal;
}

.tip-content h4 img {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-right: 4px;
}

.tip-content p {
  font-size: 12px;
}

.journey {
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.journey-content {
  width: 100%;
  height: 47px;
  padding: 12px 20px;
  border-radius: 500px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journey-content p {
  color: #fff;
  font-weight: 500;
}

.journey-content img {
  width: 18px;
  height: 18px;
}

.task-guide {
  padding: 0 20px;
}

.task-guide p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 20px;
}

.task-guide h1 {
  color: #fff;
  font-size: 44px;
  margin-bottom: 40px;
}

.task-guide-card {
  width: 100%;
}

.address {
  padding: 0 20px;
  margin-top: 20px;
}

.address h5 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.address h5 .line {
  color: #fff;
  margin: 0 4px;
}

.address h5 .address-h5 {
  font-weight: normal;
  font-size: 10px;
  vertical-align: middle;
}

.address-content {
  padding: 10px;
  background-color: rgb(255, 243, 241);
  color: #000;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 400;
  font-weight: bold;
  line-height: 27px;
}
.start-Japanese-box2 {
  margin-top: 20px;
}

.character {
  margin-top: 16px;
  padding: 0 20px;
}

.character img:nth-child(1) {
  width: 36px;
  height: 48px;
}

.character img:nth-child(2) {
  width: 23px;
  height: 50px;
}

.character img:nth-child(3) {
  width: 30px;
  height: 44px;
}

.character img:nth-child(4) {
  width: 26px;
  height: 54px;
}

.character img:nth-child(5) {
  width: 22px;
  height: 54px;
  float: right;
}

.challenge {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px 0 0 40px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.challenge a{
  color: #fff;
}

.challenge h1 {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}

.challenge h1 span {
  font-size: 16px;
  margin-right: 6px;
  font-weight: normal;
  color: #ff4c00;
  display: inline-block;
  padding: 1px 10px;
  background: #fff;
  border-radius: 40px 40px 40px 0;
}

.challenge-address img {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

.challenge-address {
  font-size: 10px;
  color: #fff;
  margin-top: 12px;
}

.swiper-container3 {
  padding-bottom: 35px;
}

.swiper-container3 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff4c00 !important;
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper-slide3 {
  width: 100% !important;
  height: auto !important;
  border-radius: 0;
  background: none;
  margin-top: 12px;
}

.swiper-slide3 img {
  width: 100%;
  height: 226px;
  object-fit: cover;
  margin-bottom: 12px;
}

.swiper-slide3-content {
  height: 200px;
  padding: 20px 33px;
  border-radius: 10px;
  background: #faf2e7;
  margin-bottom: 10px;
}

.swiper-slide3-content h3 {
  color: #ff6439;
  font-size: 16px;
  padding-left: 16px;
  margin-bottom: 5px;
  background: #fff;
  padding: 1px 16px;
  width: 85px;
  display: inline-block;
  border-radius: 40px 40px 40px 0;
}

.swiper-slide3-content p {
  font-weight: bold;
  font-size: 17.5px;
  color: #000;
}

.swiper-slide3-content p span {
  color: #ff4c00;
}

.unlock {
  width: 263px;
  height: 64px;
  border: 2px solid #fff;
  background: #000;
  border-radius: 19px;
  padding: 11px 20px;
  margin: 0 auto;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.unlock-content h4 {
  font-size: 16px;
  color: #fff;
}

.unlock-content p {
  font-size: 10px;
  color: #fff;
}

.unlock img {
  width: 42px;
  height: 42px;
}

.faq {
  padding: 0 20px;
  margin-top: 80px;
}

.faq-title {
  padding: 0 20px;
  color: #fff;
  margin-bottom: 40px;
}

.faq-title p {
  font-size: 12px;
  margin-bottom: 22px;
}

.faq-title h1 {
  font-size: 44px;
}

.faq-list {
  display: flex;
  color: #fff;
  gap: 4px;
  margin-bottom: 20px;
}

.faq-list h4 {
  font-size: 16px;
}

.faq-list h4 span {
  font-size: 20px;
}

.list-content h5 {
  font-weight: normal;
  font-size: 16px;
  padding: 3px 53px;
  color: #ff4c00;
  background-color: #fff;
  border-radius: 40px 40px 40px 0;
  text-align: center;
  margin-bottom: 13px;
}

.list-content p {
  font-size: 16px;
  color: #fff;
  text-indent: 2em;
  line-height: 25px;
}

.contact {
  padding: 0 20px;
  margin-top: 80px;
  position: relative;
}

.contact h4,
.contact h1 {
  color: #fff;
  font-size: 12px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.contact h4 {
  font-weight: normal;
}

.contact h1 {
  font-size: 44px;
}

.contact p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}

.contact-list {
  margin-top: 20px;
  width: 227px;
  padding: 14px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 40px 40px 40px 0;
}

.contact-list .sj {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.contact-line {
  margin: 0 13px;
  margin-bottom: 3px;
}
/* .contact-list a{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.contact-list img {
  width: 8px;
  height: auto;
}

.swiper-slide4 {
  width: 40% !important;
  height: auto !important;
  border-radius: 20px;
}

.swiper-container4 {
  margin-top: 40px;
}

.go {
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 45px;
  padding-right: 0;
}

.go-title {
  width: 120px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.go-title h3 {
  font-size: 20px;
  font-weight: normal;
  font-family: "RedHatDisplay-Bold";
}

.go-title h4 {
  width: 25vw;
  font-size: 16px;
  font-weight: bold;
}

.go-title h5 {
  font-size: 12px;
  font-weight: normal;
}

.swiper-slide5 {
  width: 60% !important;
  height: auto !important;
}

.footer {
  background: #000;
  padding: 11px 26px 7px 55px;
  display: flex;
  justify-content: space-between;
}

.footer-list {
  color: #fff;
  flex: 1;
}

.footer-list li {
  font-size: 12px;
  margin-bottom: 16px;
  font-family: "RedHatDisplay-ExtraBold";
}

.footer-right {
  flex: 1;
}
.footer-list2 li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list2 li p {
  font-size: 12px;
}

.footer-list2 li img {
  width: 24px;
  height: auto;
}

.footer-title {
  font-size: 20px;
  color: #fff;
  font-family: "RedHatDisplay-ExtraBold";
}

.footer-tip {
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
}

.footer-tip p {
  float: left;
  padding: 2px 15px;
  margin-right: 10px;
  border: 1px solid #fff;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border-radius: 5400px;
  margin-bottom: 5px;
}

.footer-bottom {
  background: #000;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding-bottom: 12px;
}

.fileInput_box {
  width: 100%;
  text-align: center;
  line-height: 25px;
  height: 42px;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
.fileInput_box > span {
  width: 120px;
  border-radius:2px;
  font-size: 14px;
  background-color: #ff4c00;
  height: 45px;
  line-height: 43px;
  border-radius: 30px;
  border:none;
  color: #000;
  font-weight: bold;
  font-size: 17px;
}
.fileInput_box:active {
  opacity: 0.5;
}
.fileInput {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.contact_pannel {
  position: absolute;
  background-color: #ff4c00;
  width: 90vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  top: 0;
  margin: auto;
  border-radius: 10px;
  font-weight: bold;
  z-index: 999;
  display: none;
}
.contact_pannel > h2 {
  text-align: center;
}
.contact_pannel > input {
  border: none;
  padding-left: 5px;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.contact_pannel > .textArea {
  width: 100%;
  height: 300px;
}
.menu,
.mb2,
.contact-list,
.toggleMenu,
#next3 {
  transition: all 0.5s ease-out;
}

.aa {
  width: 50px !important;
  height: 50px !important;
}
.empty-content{
  height: 70px;
}
.up{
  height: 40px;
  margin-bottom: 35px;
}
.up .up-content{
  position: fixed;
  bottom: 20%;
  right: 10%;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #000000bb;

}
.up .up-content img{
  width: 100%;
}
.mb2 b1mb2 div a {
  display: inline;
}
.mb2 div .confirm-btn {
  width: 176px;
  height: 48px;
  border-radius: 30px;
  background: #000000;
  margin: 10px auto;
  padding-top: 0px;
  line-height: 46px;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}
input{
  padding:10px;
  box-sizing: border-box;
}
.mb2 div p{
  margin-top: 5px;
}
.texta{
  border: 0;
  width: 76%;
  height: 186px;
  margin-top: 25px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}
/* ========== 下拉框头部（显示默认值 + 箭头） ========== */
.custom-select-header {
  background-color: #fff !important;
  height:36px !important;
  width: 298px !important;
  border-radius: 10px !important;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 0 !important;
  padding: 0px 10px;
  font-weight: bold;;
  justify-content: space-between; /* 左文字，右箭头 */
}
.custom-select-container{
  position: relative;
  height: 20px !important;
  padding-top: 0px !important;
  margin-bottom: 20px;
}
/* 选中文本 */
.selected-text {
  font-size: 14px;
  color: #333;
}
.arrow-down {
  position: relative;
  width: 10px;
  height: auto;
  margin-left: 8px;
  transform: rotate(90deg);
}

/* ========== 下拉列表 ========== */
.custom-select-list {
  display: none;       /* 默认隐藏 */
  position: absolute;
  height:161px !important;
  top: 200%;
  left: 11.9%;
  width: 298px !important;
  padding-top: 15px !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 999;        /* 保证浮在上层 */
}
.swiper-slide2{
  background-color: #fff !important;
}
/* ========== 选项项 ========== */
.option {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  padding-top: 0px !important;
  color: #000 !important;
  font-weight: bold;
  background-color: #ffffff00 !important;
  height:36px !important;
  border-radius: 0 !important;
}

.option:hover {
  background-color: #f5f5f5;
}
.swiper-slide{
  background: #f5f5f500;
}
.swiper-slide4{
  width: 140px !important;
  height: 147px !important;
  border-radius: 15px !important;
  overflow: hidden;
}
.swiper-slide5{
  width: 140px !important;
  height: 102px !important;
  border-radius: 15px !important;
}